<h1>Piece Show</h1>

<%= @piece.name %>
<%= @piece.description %>
<%= link_to 'Home', pieces_path %>


<br>
<br>
<%= form_for ([@piece, @piece.comments.build]) do |f| %>


  <article>
    <h3>Leave A Comment</h3>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </article>

  <article>
    <%= f.submit %>
  </article>

  <% end %>

  <p>
    <% @piece.comments.each do |comment| %>
    <div>
    <%= link_to comment.body, piece_comments_path([@piece.id, comment.id]) %>
    </div>
<% end %>
  </p>
